azure-failover-orchestrator/infra/logicapp.arm.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": { "type": "string" },
    "location": { "type": "string" },
    "functionBaseUrl": { "type": "string" },
    "healthKey": { "type": "string" },
    "failoverKey": { "type": "string" },
    "intervalMinutes": { "type": "int" }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          },
          "triggers": {
            "EveryInterval": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Minute",
                "interval": "[parameters('intervalMinutes')]"
              }
            }
          },
          "actions": {
            "Init_isHealthy": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "isHealthy",
                    "type": "boolean",
                    "value": false
                  }
                ]
              }
            },
            "HealthCheck": {
              "type": "Http",
              "runAfter": {
                "Init_isHealthy": ["Succeeded"]
              },
              "inputs": {
                "method": "GET",
                "uri": "[concat(parameters('functionBaseUrl'), '/health_check?code=', parameters('healthKey'))]",
                "timeout": "PT10S",
                "retryPolicy": {
                  "type": "fixed",
                  "count": 2,
                  "interval": "PT5S"
                }
              }
            },
            "Set_isHealthy_on_success": {
              "type": "SetVariable",
              "runAfter": {
                "HealthCheck": ["Succeeded"]
              },
              "inputs": {
                "name": "isHealthy",
                "value": "@bool(coalesce(body('HealthCheck')?['healthy'], false))"
              }
            },
            "Set_isHealthy_on_failure": {
              "type": "SetVariable",
              "runAfter": {
                "HealthCheck": ["Failed", "TimedOut"]
              },
              "inputs": {
                "name": "isHealthy",
                "value": false
              }
            },
            "IfUnhealthy": {
              "type": "If",
              "runAfter": {
                "Set_isHealthy_on_success": ["Succeeded"],
                "Set_isHealthy_on_failure": ["Succeeded"]
              },
              "expression": {
                "equals": ["@variables('isHealthy')", false]
              },
              "actions": {
                "Compose_Unhealthy": {
                  "type": "Compose",
                  "inputs": "@concat('Unhealthy detected. active_target=', string(body('HealthCheck')?['active_target']), ' reason=', string(body('HealthCheck')?['reason']))"
                },
                "DoFailover": {
                  "type": "Http",
                  "runAfter": {
                    "Compose_Unhealthy": ["Succeeded"]
                  },
                  "inputs": {
                    "method": "POST",
                    "uri": "[concat(parameters('functionBaseUrl'), '/do_failover?code=', parameters('failoverKey'))]",
                    "headers": { "Content-Type": "application/json" },
                    "timeout": "PT10S",
                    "retryPolicy": {
                      "type": "fixed",
                      "count": 2,
                      "interval": "PT5S"
                    },
                    "body": {
                      "triggered_by": "logicapp",
                      "run_id": "@workflow().run.name"
                    }
                  }
                },
                "Terminate_After_Failover": {
                  "type": "Terminate",
                  "runAfter": {
                    "DoFailover": ["Succeeded", "Failed", "TimedOut"]
                  },
                  "inputs": {
                    "runStatus": "Succeeded"
                  }
                }
              },
              "else": {
                "actions": {
                  "Compose_Healthy": {
                    "type": "Compose",
                    "inputs": "@concat('Healthy. No action. active_target=', string(body('HealthCheck')?['active_target']), ' checked=', string(body('HealthCheck')?['checked_endpoint']), ' reason=', string(body('HealthCheck')?['reason']))"
                  },
                  "Terminate_Healthy": {
                    "type": "Terminate",
                    "runAfter": {
                      "Compose_Healthy": ["Succeeded"]
                    },
                    "inputs": {
                      "runStatus": "Succeeded"
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {}
          }
        }
      }
    }
  ]
}
